@using System.Globalization
@model  PersonalFinanceManagement.ViewModels.TransactionViewModel
@{
    ViewData["PageTitle"] = Model.Id == Guid.Empty ? "Create a new transaction" : "Edit transaction";
}
<div class="row">
<div class="col-md-7">
    <div class="widget p-5" style="background-color:#212b36">
        <form asp-action="CreateOrEdit" asp-route-id="@Model.Id">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id" />
           <div class="mb-3">
<select id="CategoryId" name="CategoryId" class="form-control">
    <option value="">Category</option>
    @foreach (var category in Model.Categories)
    {
        <option value="@category.Id"
                selected="@Equals(Model.CategoryId, category.Id).ToString().ToLowerInvariant()">
            @category.Name
        </option>
    }
</select>




               <span asp-validation-for="CategoryId" class="text-danger fs-6"></span>
           </div>

   <div class="mb-3">
       <ejs-numerictextbox id="amount" ejs-for="Amount"
                           placeholder="Amount" floatLabelType="Always"
                           min=0 format="N0"  ></ejs-numerictextbox>
       <span asp-validation-for="Amount" class="text-danger fs-6"></span>
   </div>


            <div class="mb-3">
                <ejs-textbox id="description" placeholder="Description" ejs-for="Description"
                             floatLabelType="Always" multiline="true"></ejs-textbox>
            </div>
            <div class="mb-3">
                <ejs-datepicker id="date" ejs-for="Date"
                                                placeholder="Date" floatLabelType="Always"
                                                format="yyyy-MM-dd"></ejs-datepicker>

            </div>

            <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
        </form>
    </div>
</div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>